/* General Styles */
html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

/* Navigation Bar Styles */
.navbar {
    display: flex;
    background-color: #da4450;
    width: 100%;
    height: 7rem;
    justify-content: space-between;
    overflow: hidden;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 1000;
}

.navbar img {
    height: 100%;
    width: auto;
}


.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    margin: auto 2rem;
    background: linear-gradient(to bottom left, #ffaa5a, #b3773f);
    border-radius: 7px;
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 4px rgb(100, 96, 96);
}

.navbar ul li a:hover {
    color: #ffffff90;
    background: linear-gradient(to bottom left, #ffaa5a90, #b3773f90);
}

.navbar ul li a:active {
    box-shadow: 2px 2px 4px rgb(100, 96, 96);
    background: linear-gradient(to bottom left, #b3773f, #ffaa5a);
}

/* Hero Section Styles */
#hero {
    height: 43.75rem;
    background-image: url(../images/barn.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 2rem;
    border-radius: .5rem;
}

#hero h1 {
    font-size: 4rem;
    background-color: #f45b6970;
    border-radius: .50rem;
    text-align: center;
    padding: 1rem;
}

#hero h2 {
    font-size: 3rem;
    background-color: #f45b6970;
    border-radius: .50rem;
    padding: 1rem;
}

/* Category Section Styles */

#categories {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin: 5rem 2rem;
    flex-direction: column;
}

#categories .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#categories h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
    background-color: #f45b6950;
    text-align: center;
    border-radius: 0;
    padding: .50rem;
    width: 75%;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-bottom: #000000 1.5px solid;
}

#categories .category img {
    width: 80%;
    height: 70%;
    border-radius: .5rem .5rem 0 0;
}

#categories .category h3 {
    font-size: 2rem;
    text-align: center;
    border-bottom: #000000 1.5px solid;
}

#categories .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 30rem;
    background: linear-gradient(to bottom left, #ffaa5a, #b3773f);
    border-radius: .5rem;
    box-shadow: 4px 4px 4px rgb(100, 96, 96);
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#categories .category:hover {
    box-shadow: 2px 2px 4px rgb(100, 96, 96);
    cursor: pointer;
    transform: translateY(-5px);
}

/* About Section Styles */
#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 7rem 2rem 5rem 2rem;
}

#about .about-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

#about img {
    width: 30%;
    height: 30%;
    border-radius: .5rem;
    box-shadow: 4px 4px 4px rgb(100, 96, 96);
    margin: 1rem;
}

#about .about-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    flex-direction: column;
    text-align: justify;
}

#about h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
    background-color: #f45b6950;
    text-align: center;
    border-radius: 0;
    padding: .50rem;
    width: 75%;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-bottom: #000000 1.5px solid;
}

#about p {
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f45b6950;
    border-radius: .5rem;
    box-shadow: 4px 4px 4px rgb(100, 96, 96);
}